<p id="notice"><%= notice %></p>

<h1>Blogs</h1>

<table class='table table-striped table-bordered basic_datatable'>
  <thead>
    <tr>
      <th>Title</th>
      <th>Title Url</th>
      <th>Summary</th>
      <th>Content html</th>
      <th>show</th>
      <th>edit</th>
      <th>destroy</th>
    </tr>
  </thead>

  <tbody>
    <% @blogs.each do |blog| %>
      <tr>
        <td><%= blog.title %></td>
	<td><%= link_to blog.title_url, "/blog_page/#{blog.title_url}"  %></td>
        <td><%= blog.summary %></td>
	<td style='max-width:300px;'><pre><code class='html'><%= blog.content_html %></code></pre></td>
        <td><%= link_to 'Show', blog %></td>
        <td><%= link_to 'Edit', edit_blog_path(blog) %></td>
        <td><%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Blog', new_blog_path %>
