<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @blog.title %>
</p>

<p>
  <strong>Summary:</strong>
  <%= @blog.summary %>
</p>

<p>
  <strong>Content html:</strong>
  <pre>
    <code class='html'>
<%= @blog.content_html %>
    </code>
  <pre>
</p>

<%= link_to 'Edit', edit_blog_path(@blog) %> |
<%= link_to 'Back', blogs_path %>
