<div id='blog-home_container'>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Matt's Programming Blog</h1>
      <p class="lead">
        A blog to document what I have learned for your benefit and mine 
      </p>
    </div>
  </div>

  <div class='container'>
    <div class='row'>
	    
      <div id='featured_blogs_container' class='container col-sm-5'>
        <h1><u>Featured Blogs</u></h1>
        <% @blogs[0...4].each do |blog|%>
          <div class='blog_summary row'>
            <div class='col-sm-12'>		    
	      <h3><%= link_to blog.title, "/blog_page/#{blog.title_url}"  %></h3>
              <% max_length = 50 %>
              <% if blog.summary.length > max_length %>
	        <p>
	          <%= blog.summary[0...max_length] %><span class="dots">...</span><span class="more" style='display:none;'><%= blog.summary[max_length..-1] %></span>
	        </p>
                <button class='readmore_toggle'>Read more</button>
              <% else %>
	        <p>
	          <%= blog.summary %>
	        </p>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>

      <div id='all_blogs_container' class='col-sm-7'>
	<h1><u>All Blogs</u></h1>
	<div id='all_blogs_table_container'>
	  <table class='basic_datatable table table-striped table-bordered'>
	    <thead>
	      <tr>
                <th>Title</th>
	        <th>Summary</th>
		<th>Created On</th>
	      </tr>
	    </thead>
	    <tbody>
	      <% @blogs.each do | blog | %>
	        <tr>
                  <td><%= link_to blog.title, "/blog_page/#{blog.title_url}"  %></td>
      	          <td><%= blog.summary %></td> 
		  <td><%= blog.created_at.to_date %></td>
                </tr>
	      <% end %>
	    </tbody>
     	  </table>
        </div>
      </div>
    </div>
  </div>

</div>
